<!doctype html>{% load staticfiles %}
<head>
  <title>Eventio</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
  {% block head %}{% endblock head %}
<head>
<body>
  <nav>
    <div class="container">
      <a class="title" href="/">Eventio</a>
      <div class="menu">
        <a href="/" class="title">Home</a>
        {% if user.is_authenticated %}
          <a href="{% url 'event_add' %}" class="title">Add Event</a>
          <a href="{% url 'logout' %}" class="title">Sign Out</a>
        {% else %}
          <a href="{% url 'login' %}" class="title">Log In</a>
          <a href="{% url 'register' %}" class="title">Sign Up</a>
        {% endif %}
      </div>
    </div>
  </nav>
  <div class="container">
    {% if messages %}
      <div id="messages">
        {% for message in messages %}
          <p class="{{ message.tags }}">{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
    {% block content %}{% endblock %}
  </div>
  {% block scripts %}{% endblock scripts %}
</body>
